body{
    background-color: #FEFFC6;

}

.title{
    /* font-family: Oxygen; */
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 81px;

    color: #FF0000;
}